.software-customization-btn {
  margin-top: 10px;
  margin-bottom: -10px;
}

.software-customization-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.external-link-icon {
  opacity: 0.4;
}

/* 确保在侧边栏项目悬停时图标颜色正确 */
.software-customization-btn:hover .external-link-icon {
  opacity: 0.8;
}
